   /* reset */
   html,
   body {
       margin: 0;
       padding: 0;
       background-color: #efefef;
       font-family: 'Roboto';
   }

   .logo img {
       max-height: 60px;
       margin: 0 20px;
   }

   .flex-grow-1 {
       flex-grow: 1;
   }

   .d-flex {
       display: flex;
   }

   .align-items-center {
       align-items: center;
   }

   .justify-content-right {
       justify-content: right;
   }

   .header {
        background-color: #fff;
       padding: 10px 20px;
   }

   .nav .nav-item {
       padding: 15px;
   }

   .nav .nav-item a,
   .cart a {
       font: bold 1.25em 'Roboto', sans-serif;
       color: #0a2b5e;
       text-decoration: none;
   }

   .cart {
       margin-left: 20px;
   }

   .nav .nav-item a svg {
       color: #555454;
   }

   .cart a {

       color: #000;
   }

   .container {
       margin: 0 auto;
       max-width: 1024px;
   }

   .content {
       border-top: 1px solid #c0c0c0;
       width: 100%;
   }

   .content-item {
    margin-top: 15px;
        background-color: #fff;
        border: 1px solid #c0c0c0;
        border-radius: 6px;

   }

   .content-item h2 {
        background-color: #ddd;
        margin:0;padding: 10px 20px;
        border-bottom: 1px solid #c0c0c0;
   }
   .content-body {
        padding: 15px 30px;
   }

   .hide {
    display: none;
   }
   .show {
    display: 'inline-block';
   }

/* styles for <table class="table"> */
.table {
    width: 100%;
    border: 1px solid #c0c0c0;
}

/* styles for all <th> tags inside <table class="table"> */
.table th {
    background-color: #efefef;
}

/* styles for all <th>, <td> tags inside <table class="table">  */
.table th,
.table td {
    padding: 10px;
    text-align: left;
}

.thumb {
    max-width: 200px;
    max-height:200px;
    padding: 1px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
}

.grey-header {
    color: #252525;
    font: bolder 1.15em 'Roboto';
    margin: 0;
    padding: 0;
}

.form-control {
    background: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    padding: 8px;
}

.form-control-sm {
    max-width: 60px;
}

.table td {
    vertical-align: top;
}

.button {
    padding: 8px;
    font: bold 1em 'Roboto';
    background-color:#0a2b5e;
    color: #fff;
    border: 1px solid #252525;
    border-radius: 6px;
    cursor: pointer;
}

.fa-stack[data-count]:after {
    position: absolute;
    right: 5px;
    top: 0;
    content: attr(data-count);
    font-size: .3em;
    padding: 4px;
    border-radius: 50%;    
    color: white;
    background: #000;
    text-align: center;
    min-width: 2em;
    font-weight: bold;
}
.fa-stack {
    height: unset !important;
}

.strong {
    font-weight: bold;    
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}